@font-face {
	font-family: "MonserratBlack";
	src: url("../../font/Montserrat-Black.otf");
}

@font-face {
	font-family: "MonserratRegular";
	src: url("../../font/Montserrat-Regular.otf");
}

@font-face {
	font-family: "MonserratBold";
	src: url("../..//font/Montserrat-Bold.otf");
}